*               { font-family: Cardo; }
body            { background: #000; color: #FFCD67; font-size: 125%; }
#wrapper        { width: 850px; margin: 0 auto; }
h1              { font-size: 1.8em; text-align: center;}
.read           { color: #e90e5b; }
h3 a            { color: #000; background: #FFCD67; text-decoration: none; padding: 0.5em; }
h3 a:hover      { background: #000; color: #FFCD67;  }
h3              { font-style: italic; }
address a       { background: #000; color: #FFCD67; text-decoration: none; padding: 0.5em; }
address a:hover { background: #FFCD67; color: #000; }
#content        { background: no-repeat;  width: 850px;}
address         { text-align: center; font-size: 90%; margin: 1em; }
#box            { float: right; margin-left: 0.5em; margin-bottom: 0.5em; width: 19em; text-align: right; font-size: 90%}
ul              { list-style: none; }
p a             { background: #000; color: #FFCD67; text-decoration: none; }
p a:hover       { background: #FFCD67; color: #000; }
table           { width: 22em; text-align: right; margin: 0 auto; font-size: 80%}
caption         { font-weight: bold }

